body {
  background-color: #858987;
  margin: 5%;
}


.create_container {
  border-radius: 5px;
  background-color: #4D504E;
  margin: 18px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #9E9F9E;
}

.dcc_compon {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.fix_label {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#header {
  align-items: center;
}


#title {
  text-align: center;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #3B3C3B;
  color: white;
}

.Select-control{
  border: 0.5px solid green;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #4D504E !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4D504E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white !important;
}

.rc-slider-track {
  background-color: red;
}

.rc-slider-dot-active {
  border-color: red;
  border: solid 2px red;
}

.rc-slider-handle {
  background-color: red;
  border-color: red;
}

.rc.slider-handle:hover {
  border-color: red;
}

.rc.slider-handle-active:active {
  border-color: red;
}

